.contact {
  padding: 40px 0px;
  h2 {
    margin-bottom: 40px;
  }

  a {
    background-color: transparent;
    padding: 0;
    &:hover {
      color: $accent-color;
      border-bottom: 2px solid $light-color;
    }
  }
}

.contactGrid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "contactBlurb form";
}

.contactBlurb {
  grid-area: contactBlurb;

  p {
    margin: 0;
  }
}

form {
  display: flex;
  justify-content: center;
  grid-area: form;
}

.formGrid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "name email"
    "message message"
    "submit subtmi";
}

fieldset {
  border: none;
  font-size: 2.2rem;
  font-weight: 700;
  input,
  textarea,
  .submit {
    padding: 10px;
    color: $darker-color;
    background: $light-color;
    border-radius: 5px;
    border: 2px solid $darker-color;
    &::placeholder {
      color: $darker-color;
      opacity: 0.8;
      font-size: 2rem;
    }
    &:focus {
      border: 2px dashed $darker-color;
      &::placeholder {
        opacity: 1;
      }
    }
  }
}

input:required {
  box-shadow: none; /*default styling is yuck*/
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

textarea {
  grid-area: message;
  resize: none;
}

.submit {
  font-weight: 700;
  letter-spacing: 3px;
  grid-area: submit;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  color: $darker-color;

  &:focus {
    border: 2px dashed $darker-color;
  }
  &:hover {
    color: $light-color;
    background-color: $darker-color;
    border: 2px solid $light-color;
  }
}

/*SOCIAL MEDIA*/
.socialMedia {
  font-size: 4rem;
  color: $accent-color;
  li {
    list-style: none;
    margin-bottom: 5px;
  }

  a {
    background-color: transparent;
  }

  i {
    color: $accent-color;

    &:visited {
      color: $light-color;
      border: none;
    }
    &:active {
      color: $accent-color;
    }
    &:hover,
    &:focus {
      color: $darker-color;
      text-decoration: none;
      transform: scale(1.2);
    }
  }
}
