/*MAIN*/
$bg-color: #e1e1d4;
$accent-color: #b84551;
$light-color: #fcd582;
$darker-color: #378263;
$second-accent-color: #f0aeb0;

@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gaegu&display=swap');


//  'Londrina Shadow', cursive;
$heading-font: 'Nanum Pen Script', cursive;
$main-font: 'Inconsolata', monospace;


html{
    background-color: $bg-color;
    font-size: 62.5%;
}

body{
    font-family: $main-font;
    // background-image: url(assets/bg.png);
}

p{
    font-size: 2rem;
    padding: 0px 10px;
    line-height: 1.2;
}

h1{
    font-family: $heading-font;
    color: $bg-color;
    font-size: 15rem;
    text-shadow: 5px 5px black; 
    text-align: center;
    letter-spacing: 5px;
    z-index: 2;
    position: absolute;
    top: 470px;
    margin: 0;
}

.imageContainer{
    max-height: 90vh;
    object-fit: contain;
    margin-bottom: 20px;
    img{
        max-width: 1200px;
        box-shadow: 5px 5px $accent-color;
    }
}

h2{
    background-color: $accent-color;
    padding: 20px;
    color: $light-color;
    font-size: 7rem;
    text-transform: lowercase;
    letter-spacing: 5px;

    &::after{
        content: "";
        display: block;
        position: relative;
        width: 90%;
        height: 2px;
        background-color: $light-color;
        left: 50px;
        bottom: 5px;
    }
}

h3{
    background-color: $second-accent-color;
    padding: 10px;
    color: $darker-color;
    font-size: 4rem;
    text-transform: lowercase;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: center;
    // align-items: center;
}

.imageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

a{
    background-color: $second-accent-color;
    color: $darker-color;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;

    &:hover,
    &:focus{
        color: $second-accent-color;
        background-color: $darker-color;
    }
}

.accent{
    color: $accent-color;
    font-weight: 700;
}

/*ABOUT*/
.about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "title title title"
    "paragraph paragraph image";
    p{
        font-size: 2.5rem;
        padding: 0px 20px;
    }

    h2{
        grid-area: title;
    }

    .aboutParagraph{
        grid-area: paragraph;
    }

    .aboutImage{
        padding-top: 30px;
        grid-area: image;
        img{
            width: 360px;
            height: 360px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 10px 10px $light-color;
        }
    }
}

/*TOOLS*/
.iconDescription{
    display: none;
}

.toolsIcons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    font-size: 5rem;
    color: $accent-color;
    gap: 50px;
    text-shadow: 5px 5px $light-color;
    transition: 0.5s all ease;
}

.tool-container{
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &:hover,
    &:focus{
        color: $darker-color;
        transform: scale(1.2);
        font-weight: 700;
        text-shadow: 5px 5px $second-accent-color;
        .iconDescription{
            display: block;
            font-size: 1.6rem;
            color: $darker-color;
        }
    }
}

/*SOCIAL MEDIA*/
.socialMedia{
    font-size: 4rem;
    color: $accent-color;
    li{
        list-style: none;
        margin-bottom: 5px;
    }

    a{
        background-color: transparent;
    }

    i{
        color: $accent-color;

        &:visited{
            color: $second-accent-color;
            border: none;
        }
        &:active{
            color: $accent-color;
        }
        &:hover,
        &:focus{
            color: $darker-color;
            text-decoration: none;
            transform: scale(1.2);
        }
    }

}

/*FOOTIE FOOTER*/
footer{
    background-color: $darker-color;
    padding: 8px;
    color: $bg-color;

    p{
        margin: 0;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
    }
    span{
        color: $second-accent-color;
    }
}

