/*MAIN*/

$bg-color: #e1e1d4;
$accent-color: #c06471;
$light-color: #fcd582;
$darker-color: #378263;
$second-accent-color: #f0aeb0;
$font-color: #59524c;

$main-font: 'Cutive Mono', monospace;
$heading-font: 'Londrina Outline', cursive;
$display-font: 'Playfair Display', serif;
$new-font: 'Inconsolata', monospace;


html{
    background-color: $bg-color;
    font-size: 62.5%;
}

body{
    font-family: $new-font;
    // background-image: url(assets/bg.png);
}

p{
    font-size: 2rem;
    padding: 0px 10px;
}

h1{
    font-size: 10rem;
    font-family: $heading-font;
    text-align: center;
    letter-spacing: 5px;
    color: $darker-color;
    margin: 0;
    // box-shadow: inset 0 20px 0 #FDF6EF;
}

h2{
    background-color: $accent-color;
    font-family: $new-font;
    padding: 20px;
    color: $light-color;
    font-size: 7rem;
    text-transform: lowercase;
    letter-spacing: 5px;

    &::after{
        content: "";
        display: block;
        position: relative;
        width: 90%;
        height: 2px;
        background-color: $light-color;
        left: 50px;
        bottom: 5px;
    }
}

h3{
    background-color: $second-accent-color;
    font-family: $new-font;
    padding: 10px;
    color: $darker-color;
    font-size: 4rem;
    text-transform: lowercase;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: center;
    // align-items: center;
}

.imageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

a{
    background-color: $second-accent-color;
    color: $darker-color;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;

    &:hover,
    &:focus{
        color: $second-accent-color;
        background-color: $darker-color;
    }
}

/*ABOUT*/
.about{
    p{
        font-size: 2.5rem;
        padding: 0px 20px;
    }

}

.accent{
    color: $accent-color;
    font-weight: 700;
}

/*TOOLS*/
.iconDescription{
    display: none;
}

.toolsIcons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    font-size: 5rem;
    color: $accent-color;
    gap: 50px;
    text-shadow: 2px 2px $light-color;
    transition: 0.5s all ease;
}

.tool-container{
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &:hover{
        color: $darker-color;
        transform: scale(1.2);
        text-shadow: 2px 2px $second-accent-color;
        .iconDescription{
            display: block;
            font-size: 1.6rem;
            color: $darker-color;
        }
    }
    &:focus{
        color: $darker-color;
        transform: scale(1.2);
        text-shadow: 2px 2px $second-accent-color;
        .iconDescription{
            display: block;
            font-size: 1.6rem;
            color: $darker-color;
        }
    }
}

/*SOCIAL MEDIA*/
.socialMedia{
    font-size: 4rem;
    color: $accent-color;
    li{
        list-style: none;
    }

    a{
        background-color: transparent;
    }

    i{
        color: $accent-color;

        &:visited{
            color: $second-accent-color;
        }
        &:active{
            color: $accent-color;
        }
        &:hover{
            color: $darker-color;
            transform: scale(1.2);
        }
        &:focus{
            color: $darker-color;
            transform: scale(1.4);
        }
    }

}

/*FOOTIE FOOTER*/
footer{
    background-color: $darker-color;
    padding: 8px;
    color: $bg-color;

    p{
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    span{
        color: $second-accent-color;
    }
}

