@media (max-width: 1250px){

    body{
        overflow-x: hidden;
    }

    .about p{
        font-size: 2rem;
    }

    .works{
        img{
            width: 90%;
            height: 90%;
        }
    }

    .works span{
        line-height: 1.8;
    }

}