@media (max-width: 1250px){




    h1{
        font-size: 6.5rem;
        left: 55%;
    }

    .accentText{

        top: 76%;
        left: 58%;
        p{
            font-size: 3.5rem;
        }
    }

    .works{
        img{
            width: 80%;
            height: 80%;
        }
    }

}