nav{
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 3;
    ul{
        list-style: none;
    }
    li{
        font-size: 2rem;
        display: flex;
        justify-content: space-evenly;
        writing-mode: vertical-rl;
    }

    a{
        background-color: transparent;
        font-weight: 400;
        border-right: 2px solid $light-color;
        color: $accent-color;
        &:hover,
        &:focus{
            font-weight: 700;
        }
    }
}