.works {
  img {
    height: 300px;
    width: 590px;
    border-radius: 20px;
    -webkit-box-shadow: 11px 11px 0px -3px #0055a5;
    -moz-box-shadow: 11px 11px 0px -3px #0055a5;
    box-shadow: 11px 11px 0px -3px #0055a5;
  }
}

.worksGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'felineFeelingBlurb felineFeelingPreview'
    'wishyWashyPreview wishyWashyBlurb'
    'furiendFinderBlurb furiendFinderPreview'
    'gameOfPotterPreview gameOfPotterBlurb'
    'textileeBlurb textileePreview';

  h3 {
    margin: 0;
  }

  a {
    &:hover {
      background-color: $darker-color;
      color: $light-color;
      transition: ease-in 0.2s;
    }
  }
}

.felineFeelingBlurb,
.felineFeelingPreview,
.furiendFinderBlurb,
.furiendFinderPreview,
.wishyWashyBlurb,
.wishyWashyPreview,
,
.textileePreview,
.gameOfPotterBlurb,
.gameOfPotterPreview {
  margin-bottom: 15%;
}

.furiendFinderBlurb,
.gameOfPotterBlurb,
.textileeBlurb {
  a {
    padding: 0;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $accent-color;
      background-color: transparent;
      border-bottom: 2px solid $light-color;
    }
  }
}

.felineFeelingBlurb {
  grid-area: felineFeelingBlurb;
}

.felineFeelingPreview {
  grid-area: felineFeelingPreview;
}

.wishyWashyBlurb {
  grid-area: wishyWashyBlurb;
}

.wishyWashyPreview {
  grid-area: wishyWashyPreview;
}

.furiendFinderBlurb {
  grid-area: furiendFinderBlurb;
}

.furiendFinderPreview {
  grid-area: furiendFinderPreview;
}

.textileeBlurb {
  grid-area: textileeBlurb;
}

.textileePreview {
  grid-area: textileePreview;
}

.gameOfPotterBlurb {
  grid-area: gameOfPotterBlurb;
}

.gameOfPotterPreview {
  grid-area: gameOfPotterPreview;
}

.madeWith {
  background-color: $accent-color;
  color: $light-color;
  font-weight: 700;
  padding: 5px;
}
