article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/*MAIN*/
html {
  background-color: #e1e1d4;
  font-size: 62.5%;
}

body {
  font-family: "Inconsolata", monospace;
  color: #151515;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

p {
  font-size: 2rem;
  padding: 0px 10px;
  line-height: 1.2;
}

h1 {
  color: #e1e1d4;
  padding: 0;
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  right: 5px;
  margin: 0;
}

h2 {
  background-color: #0055A5;
  padding: 20px;
  color: #ffa9e0;
  font-size: 7rem;
  text-transform: lowercase;
  letter-spacing: 5px;
}

h2::after {
  content: "";
  display: block;
  position: relative;
  width: 90%;
  height: 2px;
  background-color: #ffa9e0;
  left: 50px;
  bottom: 5px;
}

h3 {
  background-color: #ffa9e0;
  padding: 10px;
  color: #323b63;
  font-size: 4rem;
  text-transform: lowercase;
}

a {
  background-color: #ffa9e0;
  color: #323b63;
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
}

a:focus {
  border: 2px dashed #0055A5;
}

.accent {
  color: #0055A5;
  font-weight: 700;
}

/*HEADER*/
.accentText {
  position: absolute;
  z-index: 2;
  bottom: -38px;
  right: -5px;
}

.accentText p {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 5px;
  margin: 0;
  text-shadow: none;
  font-family: "Inconsolata", monospace;
  color: #0055A5;
  font-size: 4rem;
}

.imageContainer {
  position: relative;
  max-height: 90vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}

.imageContainer img {
  max-width: 1200px;
  width: 100%;
}

/*ABOUT*/
.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "title title title" "paragraphOne paragraphOne image" "paragraphTwo paragraphTwo image" "paragraphThree paragraphThree image";
}

.about p {
  font-size: 2.5rem;
  line-height: 1.4;
}

.about h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
}

.about a:hover {
  color: #ffa9e0;
  background-color: #323b63;
}

.about .aboutParagraphOne {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: paragraphOne;
}

.about .aboutParagraphTwo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: paragraphTwo;
}

.about .aboutParagraphThree {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: paragraphThree;
}

.about .aboutImage {
  padding-top: 30px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: image;
}

.about .aboutImage img {
  width: 360px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px #ffa9e0;
          box-shadow: 10px 10px #ffa9e0;
}

/*TOOLS*/
.iconDescription {
  font-size: 1.6rem;
  opacity: 0;
}

.toolsIcons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  font-size: 5rem;
  color: #0055A5;
  gap: 50px;
  text-shadow: 5px 5px #ffa9e0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.tool-container {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tool-container:hover, .tool-container:focus {
  color: #323b63;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-weight: 700;
  text-shadow: 5px 5px #ffa9e0;
}

.tool-container:hover .iconDescription, .tool-container:focus .iconDescription {
  opacity: 1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  color: #323b63;
}

/*FOOTIE FOOTER*/
footer {
  background-color: #323b63;
  padding: 8px;
  color: #e1e1d4;
}

footer p {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

footer span {
  color: #ffa9e0;
}

.works img {
  max-height: 300px;
  max-width: 590px;
}

.worksGrid {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas: "felineFeelingBlurb felineFeelingPreview" "wishyWashyPreview wishyWashyBlurb" "furiendFinderBlurb furiendFinderPreview" "textileePreview textileeBlurb" "gameOfPotterBlurb gameOfPotterPreview";
}

.worksGrid h3 {
  margin: 0;
}

.worksGrid a:hover {
  background-color: #323b63;
  color: #ffa9e0;
}

.felineFeelingBlurb,
.felineFeelingPreview,
.furiendFinderBlurb,
.furiendFinderPreview,
.wishyWashyBlurb,
.wishyWashyPreview,
.textileeBlurb,
.textileePreview,
.gameOfPotterBlurb,
.gameOfPotterPreview {
  margin-bottom: 15%;
}

.furiendFinderBlurb a,
.gameOfPotterBlurb a,
.textileeBlurb a {
  padding: 0;
  background-color: transparent;
}

.furiendFinderBlurb a:hover, .furiendFinderBlurb a:focus,
.gameOfPotterBlurb a:hover,
.gameOfPotterBlurb a:focus,
.textileeBlurb a:hover,
.textileeBlurb a:focus {
  color: #0055A5;
  background-color: transparent;
  border-bottom: 2px solid #ffa9e0;
}

.felineFeelingBlurb {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: felineFeelingBlurb;
}

.felineFeelingPreview {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: felineFeelingPreview;
}

.wishyWashyBlurb {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: wishyWashyBlurb;
}

.wishyWashyPreview {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: wishyWashyPreview;
}

.furiendFinderBlurb {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: furiendFinderBlurb;
}

.furiendFinderPreview {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: furiendFinderPreview;
}

.textileeBlurb {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: textileeBlurb;
}

.textileePreview {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: textileePreview;
}

.gameOfPotterBlurb {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: gameOfPotterBlurb;
}

.gameOfPotterPreview {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: gameOfPotterPreview;
}

.madeWith {
  background-color: #0055A5;
  color: #ffa9e0;
  font-weight: 700;
  padding: 5px;
}

.jello {
  -webkit-animation: jello-horizontal 0.9s ease-in both;
  animation: jello-horizontal 0.9s ease-in both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-16 15:12:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.contact {
  padding: 40px 0px;
}

.contact a {
  background-color: transparent;
  padding: 0;
}

.contact a:hover {
  color: #0055A5;
  border-bottom: 2px solid #ffa9e0;
}

.contactGrid {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "contactBlurb form";
}

.contactBlurb {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contactBlurb;
}

.contactBlurb p {
  margin: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: form;
}

.formGrid {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  -ms-grid-columns: (min-content)[2];
      grid-template-columns: repeat(2, -webkit-min-content);
      grid-template-columns: repeat(2, min-content);
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
      grid-template-areas: "name email" "message message" "submit subtmi";
}

fieldset {
  border: none;
  font-size: 2.2rem;
  font-weight: 700;
}

fieldset input,
fieldset textarea,
fieldset .submit {
  padding: 10px;
  color: #323b63;
  background: #ffa9e0;
  border-radius: 5px;
  border: 2px solid #323b63;
}

fieldset input::-webkit-input-placeholder,
fieldset textarea::-webkit-input-placeholder,
fieldset .submit::-webkit-input-placeholder {
  color: #323b63;
  opacity: 0.8;
  font-size: 2rem;
}

fieldset input:-ms-input-placeholder,
fieldset textarea:-ms-input-placeholder,
fieldset .submit:-ms-input-placeholder {
  color: #323b63;
  opacity: 0.8;
  font-size: 2rem;
}

fieldset input::-ms-input-placeholder,
fieldset textarea::-ms-input-placeholder,
fieldset .submit::-ms-input-placeholder {
  color: #323b63;
  opacity: 0.8;
  font-size: 2rem;
}

fieldset input::placeholder,
fieldset textarea::placeholder,
fieldset .submit::placeholder {
  color: #323b63;
  opacity: 0.8;
  font-size: 2rem;
}

fieldset input:focus,
fieldset textarea:focus,
fieldset .submit:focus {
  border: 2px dashed #323b63;
}

fieldset input:focus::-webkit-input-placeholder,
fieldset textarea:focus::-webkit-input-placeholder,
fieldset .submit:focus::-webkit-input-placeholder {
  opacity: 1;
}

fieldset input:focus:-ms-input-placeholder,
fieldset textarea:focus:-ms-input-placeholder,
fieldset .submit:focus:-ms-input-placeholder {
  opacity: 1;
}

fieldset input:focus::-ms-input-placeholder,
fieldset textarea:focus::-ms-input-placeholder,
fieldset .submit:focus::-ms-input-placeholder {
  opacity: 1;
}

fieldset input:focus::placeholder,
fieldset textarea:focus::placeholder,
fieldset .submit:focus::placeholder {
  opacity: 1;
}

input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
  /*default styling is yuck*/
}

.name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.email {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

textarea {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  resize: none;
}

.submit {
  font-weight: 700;
  letter-spacing: 3px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: submit;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  color: #323b63;
}

.submit:focus {
  border: 2px dashed #323b63;
}

.submit:hover {
  color: #ffa9e0;
  background-color: #323b63;
  border: 2px solid #ffa9e0;
}

/*SOCIAL MEDIA*/
.socialMedia {
  font-size: 4rem;
  color: #0055A5;
}

.socialMedia li {
  list-style: none;
  margin-bottom: 5px;
}

.socialMedia a {
  background-color: transparent;
}

.socialMedia i {
  color: #0055A5;
}

.socialMedia i:visited {
  color: #ffa9e0;
  border: none;
}

.socialMedia i:active {
  color: #0055A5;
}

.socialMedia i:hover, .socialMedia i:focus {
  color: #323b63;
  text-decoration: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.desktopNav {
  position: fixed;
  top: 190px;
  right: -200px;
  z-index: 3;
}

.desktopNav ul {
  list-style: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.desktopNav li {
  font-size: 2rem;
  margin-right: 10px;
  border-bottom: 2px solid #ffa9e0;
}

.desktopNav a {
  background-color: transparent;
  font-weight: 400;
  color: #0055A5;
}

.desktopNav a:hover, .desktopNav a:focus {
  font-weight: 700;
}

/*TABLET & MOBILE NAV*/
.mobileMenu {
  display: none;
}

.mobileTabletNav ul {
  display: none;
  z-index: 5;
  color: #0055A5;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 10%;
  left: 30%;
  position: fixed;
}

.mobileTabletNav ul li {
  font-size: 5rem;
  padding: 30px 0px;
  text-transform: uppercase;
  letter-spacing: 5px;
  list-style: none;
}

.mobileTabletNav ul a {
  background-color: transparent;
}

.mobileTabletNav ul a:hover, .mobileTabletNav ul a:focus {
  border-bottom: 3px solid #0055A5;
}

.navTarget {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 4;
  right: 30px;
  top: 5px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #323b63;
  line-height: 0.6;
  text-align: center;
  /*button dividers*/
}

.navTarget span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 34px;
  border-radius: 1px;
  background: #e1e1d4;
  vertical-align: middle;
}

.navTarget span:before, .navTarget span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #e1e1d4;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.navTarget span:before {
  top: -11px;
  left: 3px;
  width: 28px;
}

.navTarget span:after {
  top: 11px;
  left: 6px;
  width: 22px;
}

.navTarget:focus {
  outline: none;
}

.navTarget:hover > span:after,
.navTarget:hover > span:before {
  width: 34px;
  left: 0;
}

/*nav bg*/
.mobileTabletNav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 169, 224, 0.8);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-clip-path: circle(30px at calc(100% - 65px) 65px);
          clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
}

.mobileMenu.active .mobileTabletNav:before {
  visibility: visible;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.mobileMenu.active .navTarget > span {
  height: 0;
}

.mobileMenu.active .navTarget > span:after, .mobileMenu.active .navTarget > span:before {
  top: 0px;
  left: 0;
  width: 34px;
}

.mobileMenu.active .navTarget > span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobileMenu.active .navTarget > span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 1300px) {
  body {
    overflow-x: hidden;
    /*fix aos causing scroll with not enough space for animation*/
  }
  .desktopNav {
    display: none;
  }
  .mobileMenu {
    display: block;
  }
  .about p {
    font-size: 2rem;
  }
  .works img {
    width: 90%;
    height: 90%;
  }
  .works span {
    line-height: 1.8;
  }
}

@media (max-width: 900px) {
  .about .aboutImage img {
    width: 300px;
    height: 300px;
  }
  .contactBlurb {
    padding: 5px 5px;
  }
  .contactGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "contactBlurb" "form";
  }
}

@media (max-width: 800px) {
  .about {
        grid-template-areas: "title title title" "paragraphOne paragraphOne image" "paragraphTwo paragraphTwo image" "paragraphThree paragraphThree paragraphThree";
  }
}

@media (max-width: 700px) {
  .imageContainer h1 {
    font-size: 5.5rem;
  }
  .imageContainer p {
    font-size: 3rem;
  }
  .about {
        grid-template-areas: "title title title" "paragraphOne paragraphOne image" "paragraphTwo paragraphTwo paragraphTwo" "paragraphThree paragraphThree paragraphThree";
  }
  .worksGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "felineFeelingBlurb" "felineFeelingPreview" "wishyWashyBlurb" "wishyWashyPreview" "furiendFinderBlurb" "furiendFinderPreview" "textileeBlurb" "textileePreview" "gameOfPotterBlurb" "gameOfPotterPreview";
  }
  .worksGrid p {
    font-size: 2rem;
  }
  .worksGrid .felineFeelingBlurb,
  .worksGrid .wishyWashyBlurb,
  .worksGrid .furiendFinderBlurb,
  .worksGrid .textileeBlurb,
  .worksGrid .gameOfPotterBlurb {
    margin-bottom: 5px;
  }
  .worksGrid .felineFeelingPreview,
  .worksGrid .wishyWashyPreview,
  .worksGrid .furiendFinderPreview,
  .worksGrid .textileePreview,
  .worksGrid .gameOfPotterPreview {
    margin-bottom: 30%;
  }
  .worksGrid .felineFeelingPreview img,
  .worksGrid .wishyWashyPreview img,
  .worksGrid .furiendFinderPreview img,
  .worksGrid .textileePreview img,
  .worksGrid .gameOfPotterPreview img {
    width: 100%;
    height: 100%;
  }
  .worksGrid span {
    line-height: 2;
  }
}

@media (max-width: 650px) {
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  form {
    display: block;
    /*collapsing social media icons*/
  }
  ul {
    margin: 0;
  }
  li {
    display: inline;
  }
}

@media (max-width: 600px) {
  h3 {
    font-size: 4rem;
  }
}

@media (max-width: 555px) {
  .toolsIcons {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  h2 {
    font-size: 4rem;
  }
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
        grid-template-areas: "title" "paragraphOne" "image" "paragraphTwo" "paragraphThree";
  }
  .about p {
    margin: 0;
  }
  .about .aboutParagraphThree p {
    padding-bottom: 20px;
  }
  .aboutImage {
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .aboutImage img {
    width: 200px;
    height: 200px;
  }
  footer p {
    font-size: 1.7rem;
  }
  .contact h2 {
    margin-bottom: 0;
  }
  .formGrid {
    /*collapse form grid into columns*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .worksGrid p {
    line-height: 1;
  }
}

@media (max-width: 476px) {
  .imageContainer h1 {
    font-size: 4rem;
  }
  .imageContainer p {
    font-size: 2.5rem;
  }
  .mobileTabletNav ul li {
    font-size: 4rem;
    text-align: right;
  }
  footer p {
    font-size: 1.4rem;
  }
}

@media (max-width: 430px) {
  .mobileTabletNav ul li {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 2.7rem;
  }
  .imageContainer h1 {
    font-size: 3rem;
  }
  .imageContainer p {
    font-size: 1.6rem;
    padding: 0;
  }
  fieldset {
    font-size: 1.4rem;
  }
  footer p {
    font-size: 1rem;
  }
}

@media (max-height: 600px) {
  .imageContainer h1 {
    font-size: 5.5rem;
  }
  .imageContainer p {
    font-size: 3rem;
    background-color: #e1e1d4;
  }
}
